* {
    font-family:'Cormorant Garamond', serif;
    justify-content:center;
    text-align: left;
    margin-left: 0;
    background-image: url(https://img.freepik.com/free-vector/abstract-paper-hexagon-white-background_51543-7.jpg?size=626&ext=jpg);
    background-attachment: fixed;
    font-size: 20px;
}
h3 {

<<<<<<< HEAD
    text-align: center;
    font-size: 30px;
}

form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}
=======
form.form-example {
    display: table;
}
>>>>>>> 5acd438908dc60aa215f455ab89b13215e54eb56

div.form-example {
    display: table-row;
}

<<<<<<< HEAD
.fixed-bottom {
    text-align: center;
}

body{

    text-align: center;
 

}

.lead {
    font-size: 40px;


=======
label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
>>>>>>> 5acd438908dc60aa215f455ab89b13215e54eb56
}

.display-8 {

 
  display: block;
  margin-right:auto;
  margin-left:auto;

}

.display-4 {

 text-align: center;
 

<<<<<<< HEAD
}

a {
    text-align: center;
}
=======
img {
    border: black solid 2px;
}

.fixed-bottom {
    text-align: center;
}


>>>>>>> 5acd438908dc60aa215f455ab89b13215e54eb56
